/* Global */

:root {
  --font-color: #2D3740; 
  --primary-color: #E4E4E4;
}
body {
 margin: 0;
 padding: 0;
 color: var(--font-color);
 background-color: var(--primary-color);
 font-size: 20px;
}

/* Header */

#header {
  border-bottom: 1px solid;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 2;
  position: relative;
  width: 100%;
  top: 0;
}

#heading {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonContainer {
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.headerButton {
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  border-color: var(--font-color);
}

.headerButton:hover {
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--font-color);
  color: var(--primary-color);
  transition: color 0.5s, background-color 0.5s;
}

#darkModeButton {
  background-color: var(--font-color);
  color: var(--primary-color);
  border-color: var(--font-color);
}

#darkModeButton:hover {
  background-color: var(--primary-color);
  color: var(--font-color);
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}


h1 {
  display: inline-block;
}

/* Content */

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.scoreTable {
  border-collapse: collapse;
  top: 50px;
}
  
.scoreTable td {
  text-align: center;
}
  
.scoreTable td, th { 
  border: 1px solid var(--font-color);
  padding: 10px;
}

/* jquery */

#dialog {
  display: none;
  position: absolute;
  background-color: var(--font-color);
  color: var(--primary-color);
  border-color: var(--font-color);
}

input {
  margin-bottom: 10px
}